header {
    background-color: #b2b2b2;
}

img {
    display: none;
}

h1 {

    color: white;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #00007f;
    text-transform: uppercase;
}

section {
    background-color: #7f7f7f;
}

a {
    background-color: #c5c5c5;
    color: black;


}
